@mixin titulos {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}

@mixin titulos__h1 {
	@include titulos;
	color: #BF8F84;
	letter-spacing: 10px;
	font-size: 5rem;
	line-height: 0.5rem;
}

@mixin titulos__h2 {
	@include titulos;
	font-size: 2rem;
	color: #A6372D;
	letter-spacing: 2px;
	padding: 2rem;
}

@mixin titulos__h3 {
	@include titulos;
	font-size: 1.3rem;
	color: #A6372D;
	letter-spacing: 2px;
	padding: 2rem;
}

@mixin margins {
    margin-left: 30px;
}